{% extends 'layout.html' %}
    {% block content %}
        <h2 align='center'>เขียนบทความ</h2>
        <!--ในกรณีที่ต้องการแสดงผลการส่งข้อมูลให้ใช้ get method-->
        <!--การเชื่อมต่อกับฐานข้อมูลต้องลง mysqlclient ด้วย-->
        <form action="addForm" method="POST">
            <!--การใช้ method post นั้นจะต้องมีการใส่ CSRF token ด้วย-->
            {% csrf_token %}
            <div class="form-group">
                <label for="">ชื่อบทความ</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label for="">รายละเอียดบทความ</label>
                <input type="text" class="form-control" name="description">
            </div>
            <br>
            <input type="submit" value="บันทึกบทความ" class="btn btn-primary">
        </form>
    {% endblock %}