<!--import ข้อมูลของ layout.html มา-->
{% extends 'layout.html' %}
    {% block content %}
    <!--เมื่อมีการสร้าง template ขึ้นมาใหม่ต้องเข้าไปตั้งค่าใน setting ด้วย-->
    <h2>Home page</h2>
    <p>Chutiwat Tanapibalwongsa</p>
    <p>รวมของดีของเด็ดจากเกษตรกร พ่อค้าแม่ค้าทั่วไทย</p>

    <!--{{name}} คือการรับข้อมูลจากการ render ใน views-->
    
    <h2>ชื่อบทความ : {{ name }}</h2>
    <h3>ผู้แต่ง : {{ author }}</h3>
    
    <h2>ป้ายกำกับ</h2>
    
    <!--การทำพวก statement จะต้องใช้ {%-->
    
    {% for tag in tags %}
        <li>{{tag}}</li>
    {% endfor %}
    <h2>ความนิยม</h2>
    {% if rating > 3 %}
        <p>Good product</p>
    {% else %}
        <p>No good product</p>
    {% endif %}
    
    {% endblock %}
