{% extends 'layout.html' %}
    {% block content %}
        <h2 align='center'>ลงชื่อเข้าใช้</h2>
        {% if messages %}
            <div class="alert alert-danger"     role="alert">
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            </div>
        {% endif %}
        <!--ในกรณีที่ต้องการแสดงผลการส่งข้อมูลให้ใช้ get method-->
        <!--การเชื่อมต่อกับฐานข้อมูลต้องลง mysqlclient ด้วย-->
        <form action="login" method="POST">
            <!--การใช้ method post นั้นจะต้องมีการใส่ CSRF token ด้วย-->
            {% csrf_token %}
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" name="username">
            </div><div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <br>
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
    {% endblock %}